:root {
  --myPlum: rgba(107, 15, 26, 0.8);
}
footer i:hover {
  color: black;
}
#envelope:hover {
  color: black;
}
.underline {
  text-decoration: underline;
}
li a:hover {
  box-shadow: 2px 0px var(--myPlum);
}
.jumbotron {
  background-color: var(--myPlum);
}
#githubImg {
  height: 150px;
}
#aboutSection,
#workHeader {
  text-align: center;
}
#workHeader:before {
  height: 20px;
  content: "";
  display: block;
}
#cardImage1,
#cardImage2,
#cardImage3,
#cardImage4 {
  max-height: 200px;
}
.cardLinks:hover {
  color: var(--myPlum);
  border: solid var(--myPlum) 3px;
  opacity: 0.5;
}
.anchorOffset {
  padding-top: 58px;
  margin-top: -58px;
}
footer a,
#envelope {
  color: var(--myPlum);
}

@media (max-width: 600px) {
  #githubImg {
    display: none;
  }
}

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--myPlum);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
